body {
    font-family: Helvetica;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
    transition: background 0.3s, color 0.3s;
}

.dark-mode {
    background-color: #1a1a1a;
    color: #f4f4f4;
}

header {
    text-align: center;
    font-size: 25px;
    padding: 15px;
    background-color: #3e3932;
    color: #ddce40;
}

button {
    background: #7a7a7a;
    color: #f4f4f4;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 10px;
}

button:hover {
    background: #635d5e;
}

.card {
    width: 80%;
    max-width: 600px;
    background: #f4f4f4;
    margin: 20px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px #0000001a;
    transition: background 0.3s;
}

.dark-mode .card {
    background: #333;
    color: #f4f4f4;
}

figure {
    text-align: center;
    margin: o;
}

figure img {
    width: 100%;
    border-radius: 5px;
}

figcaption {
    font-size: 12px;
    color: #666;
    margin-top: 5px;
}

.dark-mode figcaption {
    color: #bbb;
}
